# Data Science Notebook

## Introduction
This notebook provides an overview of various aspects of Data Science, including languages, libraries, tools, and arithmetic operations.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Java

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow

## Data Science Tools

| Tool              | Description                    |
|-------------------|--------------------------------|
| Jupyter Notebook  | Interactive coding environment |
| RStudio           | Integrated development for R   |
| Apache Spark      | Cluster computing framework    |
| TensorFlow        | Deep learning framework        |

## Arithmetic Expression Examples
Below are some examples of arithmetic operations in Python.

In [ ]:
# Multiplying and adding numbers
(5 * 4) + 3

In [ ]:
# Converting minutes to hours
minutes = 120
hours = minutes / 60
hours

## Objectives
- Understand Data Science languages
- Learn common Data Science libraries
- Explore Data Science tools
- Perform arithmetic operations
- Convert time units from minutes to hours

## Author
Sam Dacara